<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuenta de <%=name%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%=name%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only" >(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#relationships" onclick="showTab('relationships')">Conexiones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#credentials" onclick="showTab('credentials')">Credenciales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#proofs" onclick="showTab('proofs')">Proofs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#issuing" onclick="showTab('issuing')">Issuing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#messages" onclick="showTab('messages')">Messages</a>
            </li>
        </ul>
    </div>
</nav>
<div id="container">
    <!-- Modal de Nueva Conexion-->
    <div class="modal" id="newRelationshipModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva Conexión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  action="/api/send_connection_request" method="POST" target="_self">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Endpoint DID:</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="did" required>
                        </div>
                        <input class="w3-btn w3-black w3-border" style="display:block;margin:auto;" type="submit" value="Enviar petición de conexión">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Nuevo Mensaje-->
    <div class="modal" id="newMessageModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enviar Mensaje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/api/send_message" method="POST" target="_self">
                        <div class="w3-section">
                            Destinatario: <input type="text" class="form-control" id="send_message_form_did" placeholder="name@example.com" name="did" value="<%=endpointDid%>">
                        </div>
                        <div class="w3-section">
                            Mensaje: <textarea class="form-control" id="exampleFormControlTextarea1" rows="6">
                                        {
                                                "type":"SOME_TYPE",
                                                "message":"test"
                                        }
                                     </textarea>
                        </div>
                        <input class="w3-btn w3-white w3-border" style="display:block;margin:auto;" type="submit" value="Enviar Mensaje">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="newMessageModel" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-theme-l1">
                <span onclick="document.getElementById('newMessageModel').style.display='none'" class="w3-button w3-display-topright">×</span>
                <h4>Send a Message</h4>
            </header>
            <div class="w3-padding">
                <form class="w3-container w3-card-4 w3-padding" action="/api/send_message" method="POST" target="_self" >
                    <div class="w3-section">
                        Recipient: <input id="send_message_form_did" class="w3-input" type="text" name="did" value="<%=endpointDid%>">
                    </div>
                    <div class="w3-section">
                        Message: <textarea id="send_message_form_message" class="w3-input" name="message" rows="6" >{
                                        "type":"SOME_TYPE",
                                        "message":"test"
                                }</textarea>
                    </div>
                    <input class="w3-btn w3-white w3-border" style="display:block;margin:auto;" type="submit" value="Send Message">
                </form>
            </div>
            <footer class="w3-container w3-theme-l1">
                <p></p>
            </footer>
        </div>
    </div>
    <div class="w3-row-padding w3-center w3-margin-top">
        <% include credentials.ejs %>
        <% include proofs.ejs %>
        <% include issuing.ejs %>
        <% include relationships.ejs %>
        <% include messages.ejs %>
    </div>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">Mi did es:
        <a href="https://mdbootstrap.com/"> <%=endpointDid%></a>
    </div>
</footer>


<script>
    function showTab(id) {
        let tabs = document.getElementsByClassName("tab");
        for (let i = 0; i < tabs.length; i++) {'card',
            tabs[i].style.display = "none";
        }
        document.getElementById(id).style.display = "block";
        // Bold the selected link, unbold others
        let tabLinks = document.getElementsByClassName("tab_link");
        for (let i = 0; i < tabLinks.length; i++) {
            tabLinks[i].style['font-weight'] = "normal";
        }
        document.getElementById(`${id}_link`).style['font-weight'] = "bold";
    }
    function show(id ) {
        if(document.getElementById(id).style.display==='none') {
            document.getElementById(id).style.display='block';
        }
    }
    function hide(id) {
        if(document.getElementById(id).style.display==='block') {
            document.getElementById(id).style.display = 'none';
        }
    }
    function request(url, method, message) {
        console.log(message);
        console.log(`${method}ing ${url}: ${message}`);
        let xhttp = new XMLHttpRequest();
        xhttp.open(method, url, true);
        if(message) {
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(message);
        } else {
            xhttp.send();
        }
        location.reload();
    }
    function validateProof(div, proof) {
        div.innerHTML = '<i class="fa fa-spinner fa-spin" style="font-size:100px;"></i>'
        let xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/api/proofs/validate', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        console.log(proof);
        xhttp.send(JSON.stringify(proof));
        xhttp.onload = function() {
            console.log(xhttp);
            if(xhttp.status === 200) {
                console.log("Validation succeeded");
                div.innerHTML = '<i class="fa fa-check" style="color:green;font-size:120px;"></i>'
            } else {
                div.innerHTML = '<i class="fa fa-times" style="color:red;font-size:120px;"></i>'
                console.log("Validation failed");
            }
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>